<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masou.coupon.data.mappers.IndustryMapper">
  <resultMap id="BaseResultMap" type="com.masou.coupon.data.models.Industry">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
  </resultMap>
  <sql id="Base_Column_List">
    id, industry
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_industry
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_industry
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.masou.coupon.data.models.Industry">
    insert into dic_industry (id, industry)
    values (#{id,jdbcType=INTEGER}, #{industry,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.masou.coupon.data.models.Industry">
    insert into dic_industry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="industry != null">
        industry,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.masou.coupon.data.models.Industry">
    update dic_industry
    <set>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.masou.coupon.data.models.Industry">
    update dic_industry
    set industry = #{industry,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>