<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masou.coupon.data.mappers.LogUserVisitMapper">
  <resultMap id="BaseResultMap" type="com.masou.coupon.data.models.LogUserVisit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="fromkey" jdbcType="VARCHAR" property="fromkey" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip, url, method, create_time,fromkey
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_user_visit
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="webStatisticPV" parameterType="com.masou.coupon.data.filter.BaseFilter" resultType="java.lang.Integer">
    SELECT
        count(id)
    FROM
        log_user_visit
    WHERE 1
    AND fromkey = 'app'
    <if test="today != null">
    AND create_time &gt;= #{today,jdbcType=TIMESTAMP}
    </if>
  </select>

  <select id="webStatisticUV" parameterType="com.masou.coupon.data.filter.BaseFilter" resultType="java.lang.Integer">
    SELECT
      SUM(dcount)
    FROM
    (
      SELECT
        count(id) AS dcount
      FROM
        log_user_visit
      WHERE 1
      AND fromkey = 'app'
      <if test="today != null">
      AND create_time &gt;= #{today,jdbcType=TIMESTAMP}
      </if>
      GROUP BY
        ip,
        DATE_FORMAT(create_time, '%Y-%m-%d')
    ) tmp

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from log_user_visit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.masou.coupon.data.models.LogUserVisit">
    insert into log_user_visit (id, ip, url, method, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.masou.coupon.data.models.LogUserVisit">
    insert into log_user_visit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="fromkey != null">
        fromkey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fromkey != null">
        #{fromkey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.masou.coupon.data.models.LogUserVisit">
    update log_user_visit
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fromkey != null">
        fromkey = #{fromkey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.masou.coupon.data.models.LogUserVisit">
    update log_user_visit
    set ip = #{ip,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      fromkey = #{fromkey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>