<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masou.coupon.data.mappers.ShopMapper">
    <resultMap id="BaseResultMap" type="com.masou.coupon.data.models.Shop">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uid" jdbcType="BIGINT" property="uid"></result>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="icon_id" jdbcType="VARCHAR" property="iconId"/>
        <result column="industry_id" jdbcType="INTEGER" property="industryId"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="is_phone_verified" jdbcType="TINYINT" property="isPhoneVerified"/>
        <result column="telephone" jdbcType="CHAR" property="telephone"/>
        <result column="telephone_ex" jdbcType="CHAR" property="telephoneEx"/>
        <result column="brief_intro" jdbcType="VARCHAR" property="briefIntro"/>
        <result column="business_license_id" jdbcType="VARCHAR" property="businessLicenseId"/>
        <result column="longitude" jdbcType="DECIMAL" property="longitude"/>
        <result column="dimensionality" jdbcType="DECIMAL" property="dimensionality"/>
        <result column="is_shop_verified" jdbcType="TINYINT" property="isShopVerified"/>
        <result column="wechat_account" jdbcType="VARCHAR" property="wechatAccount"/>
        <result column="shop_address" jdbcType="VARCHAR" property="shopAddress"/>
        <result column="rank" jdbcType="TINYINT" property="rank"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="phone_verified_time" jdbcType="TIMESTAMP" property="phoneVerifiedTime"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="profile_picture" jdbcType="VARCHAR" property="profilePicture"/>
        <result column="uread" jdbcType="INTEGER" property="uread"/>
        <association property="ticket" javaType="com.masou.coupon.data.models.TicketWithBLOBs">
            <id column="id" jdbcType="BIGINT" property="id" />
            <result column="ticket_id" jdbcType="CHAR" property="ticketId" />
            <result column="shop_id" jdbcType="BIGINT" property="shopId" />
            <result column="ticket_name" jdbcType="VARCHAR" property="ticketName" />
            <result column="content" jdbcType="VARCHAR" property="content" />
            <result column="type_id" jdbcType="TINYINT" property="typeId" />
            <result column="period_of_validity_startTime" jdbcType="TIMESTAMP" property="periodOfValidityStarttime" />
            <result column="period_of_validity_endTime" jdbcType="TIMESTAMP" property="periodOfValidityEndtime" />
            <result column="comment" jdbcType="VARCHAR" property="comment" />
            <result column="status" jdbcType="TINYINT" property="status" />
            <result column="collecting_method" jdbcType="TINYINT" property="collectingMethod" />
            <result column="is_retaken" jdbcType="TINYINT" property="isRetaken" />
            <result column="is_re_use" jdbcType="TINYINT" property="isReUse" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="amount" jdbcType="INTEGER" property="amount"/>
            <result column="taken" jdbcType="INTEGER" property="taken"/>
            <result column="applicable_scope" jdbcType="LONGVARCHAR" property="applicableScope" />
            <result column="working_condition" jdbcType="LONGVARCHAR" property="workingCondition" />
            <result column="validity_comment" jdbcType="LONGVARCHAR" property="validityComment" />
        </association>
        <association property="userShop" javaType="com.masou.coupon.data.models.UserShop">
            <id column="id" jdbcType="BIGINT" property="id" />
            <result column="user_id" jdbcType="CHAR" property="userId" />
            <result column="shop_id" jdbcType="CHAR" property="shopId" />
            <result column="status" jdbcType="TINYINT" property="status" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        </association>
        <association property="userTicket" javaType="com.masou.coupon.data.models.UserTicket">
            <id column="uticketid" jdbcType="BIGINT" property="id" />
            <result column="user_id" jdbcType="CHAR" property="userId" />
            <result column="ticket_id" jdbcType="CHAR" property="ticketId" />
            <result column="utStatus" jdbcType="TINYINT" property="status" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
            <result column="ut_id" jdbcType="VARCHAR" property="utId" />
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid, shop_name, icon_id, industry_id, phone, is_phone_verified, telephone, telephone_ex,
        brief_intro, business_license_id, longitude, dimensionality, is_shop_verified, wechat_account,
        shop_address, rank, create_time, last_update_time, phone_verified_time, `comment`,profile_picture
    </sql>
    <sql id="Base_Column_Ticket">
        t.ticket_id, t.shop_id, t.ticket_name, t.content, t.type_id, t.period_of_validity_startTime,
        t.period_of_validity_endTime, t.status, t.collecting_method, t.is_retaken, t.is_re_use,
        t.amount,t.applicable_scope, t.working_condition, t.validity_comment
    </sql>
    <sql id="Base_Column_ut">
       ut.id as uticketid, ut.user_id, ut.ticket_id, ut.status as utStatus, ut.create_time, ut.ut_id
    </sql>
    <select id="selectByType" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="BaseResultMap">
        SELECT
          *
        FROM
        (
            SELECT
                s.*,
                <include refid="Base_Column_Ticket"/>
            FROM
                ety_shop s,
                ety_ticket t
            WHERE
                s.id = t.shop_id
                <if test="industry != null">
                    and s.industry_id=#{industry, jdbcType=INTEGER}
                </if>
                <if test="type != null">
                    AND t.type_id=#{type, jdbcType=INTEGER}
                </if>
                AND s.is_shop_verified = 1
                AND t.`status` = 1
            ORDER BY
            t.create_time DESC
        ) tmp
        GROUP BY
          id
        ORDER BY
          create_time
        LIMIT #{offset, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER};
    </select>

    <select id="myTicket" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="BaseResultMap">
        SELECT
            s.*,
            <include refid="Base_Column_Ticket"/>,
            <include refid="Base_Column_ut"/>
        FROM
        ety_shop s,
        ety_ticket t,
        rel_user_ticket ut
        WHERE
        s.id = t.shop_id
        AND t.ticket_id = ut.ticket_id
        AND ut.user_id = #{uid, jdbcType=BIGINT}
        <!--<if test="status == 2">-->
            <!--AND t.period_of_validity_endTime &lt; NOW()-->
        <!--</if>-->
        <!--<if test="status == -3">-->
            <!--t.status = #{status, jdbcType=TINYINT}-->
        <!--</if>-->
        <!--<if test="status == 3 or status=4">-->
            <!--AND ut.`status` = #{status, jdbcType=TINYINT}-->
        <!--</if>-->
        ORDER BY
        ut.create_time
        limit #{limit,jdbcType=INTEGER}, #{offset, jdbcType=INTEGER};
    </select>


    <select id="myTicketCount" parameterType="com.masou.coupon.data.filter.ShopFilter" resultType="java.lang.Integer">
        SELECT
        count(s.id)
        FROM
        ety_shop s,
        ety_ticket t,
        rel_user_ticket ut
        WHERE
        s.id = t.shop_id
        AND t.ticket_id = ut.ticket_id
        AND ut.user_id = #{uid, jdbcType=BIGINT}
        <!--<if test="status == 2">-->
            <!--AND t.period_of_validity_endTime &lt; NOW()-->
        <!--</if>-->
        <!--<if test="status == -3">-->
            <!--t.status = #{status, jdbcType=TINYINT}-->
        <!--</if>-->
        <!--<if test="status == 3 or status=4">-->
            <!--AND ut.`status` = #{status, jdbcType=TINYINT}-->
        <!--</if>-->
        ORDER BY
        ut.create_time;
    </select>

    <select id="popShopList" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="BaseResultMap">
        SELECT
            s.*,
            <include refid="Base_Column_Ticket"/>,
            COUNT(*) AS pnum
        FROM
            ety_shop s,
            ety_ticket t,
            rel_user_ticket ut
        WHERE
            s.id = t.shop_id
        AND t.ticket_id = ut.ticket_id
        GROUP BY
            t.shop_id
        ORDER BY
            pnum DESC
        limit #{limit,jdbcType=INTEGER}, #{offset, jdbcType=INTEGER};
    </select>

    <select id="userReadTicket" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="BaseResultMap">
        SELECT
            s.*,
            <include refid="Base_Column_Ticket"/>
        FROM
            ety_shop s,
            ety_ticket t
        WHERE
            s.id = t.shop_id
        AND t.ticket_id = #{tid, jdbcType=CHAR}
    </select>

    <select id="bestShop" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_shop where rank > 0 ORDER BY create_time desc,rank DESC LIMIT #{limit, jdbcType=INTEGER};
    </select>

    <select id="findByLocation" parameterType="com.masou.coupon.data.filter.LocaltionFilter" resultMap="BaseResultMap">
        SELECT
          *
        FROM
        (
            SELECT
                s.*,
                <include refid="Base_Column_Ticket"/>
            FROM
                ety_shop s,
                ety_ticket t
            WHERE
                s.id = t.shop_id
                <if test="industry != null">
                    and s.industry_id=#{industry, jdbcType=INTEGER}
                </if>
                <if test="type != null">
                    AND t.type_id=#{type, jdbcType=INTEGER}
                </if>
                AND (
                s.longitude &gt;=#{leftTop.longitude, jdbcType=DECIMAL}
                AND s.longitude &lt;= #{rightTop.longitude, jdbcType=DECIMAL}
                )
                AND (
                s.dimensionality &gt;= #{leftBottom.latitude, jdbcType=DECIMAL}
                AND s.dimensionality &lt;= #{leftTop.latitude, jdbcType=DECIMAL}
                )
                <if test="keyword != null">
                AND (
                  s.shop_name like "%"#{keyword, jdbcType=VARCHAR}"%"
                  OR
                  t.ticket_name like "%"#{keyword, jdbcType=VARCHAR}"%"
                )
                </if>
                AND s.is_shop_verified = 1
                AND t.`status` = 1
            ORDER BY
              t.create_time DESC
        ) tmp
        GROUP BY
        id
        ORDER BY
        create_time
        LIMIT 100;
    </select>
    <select id="shopList" parameterType="com.masou.coupon.data.filter.BaseFilter" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_shop
        where uid=#{uid,jdbcType=BIGINT} ORDER BY create_time DESC
        limit #{limit,jdbcType=INTEGER}, #{offset, jdbcType=INTEGER};
    </select>
    <select id="shopListCount" parameterType="com.masou.coupon.data.filter.BaseFilter" resultType="java.lang.Integer">
        select
        count(id)
        from ety_shop
        where uid=#{uid,jdbcType=BIGINT}
    </select>
    <!-- 通过MD5查询数据 -->
    <select id="shopMD5" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_shop
        where shophash=#{shophash,jdbcType=CHAR};
    </select>

    <select id="pageView" parameterType="com.masou.coupon.data.filter.StatisticFilter" resultType="java.lang.Integer">
        select COUNT(ut.id)
        from ety_shop s,ety_ticket t,rel_user_ticket ut
        where s.uid=#{uid, jdbcType=BIGINT}
        and s.id=t.shop_id
        and t.ticket_id=ut.ticket_id
        <if test="today != null">
            AND ut.create_time &gt;= #{today, jdbcType=TIMESTAMP};
        </if>
    </select>
    <select id="findByUid" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="BaseResultMap">
        SELECT
            DISTINCT(s.id),
            s.shop_name,
            s.shop_address,
            s.icon_id,
            s.longitude,
            s.dimensionality,
            s.profile_picture,
            s.brief_intro,
            t.*
        FROM
            ety_shop s,
            rel_user_shop us,
            ety_ticket t
        WHERE
            us.user_id = #{uid, jdbcType=BIGINT}
        AND s.id = us.shop_id
        AND t.shop_id = s.id
        <if test="keyword != null">
            AND (
            s.shop_name like "%"#{keyword, jdbcType=VARCHAR}"%"
            OR
            t.ticket_name like "%"#{keyword, jdbcType=VARCHAR}"%"
            )
        </if>
        ORDER BY
            us.create_time DESC
        limit #{offset,jdbcType=INTEGER}, #{limit, jdbcType=INTEGER}
    </select>

    <select id="findUnread" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="BaseResultMap">
        SELECT
        <if test="createTime != null">
            COUNT(s.id) AS uread,
        </if>
            s.id,
            s.shop_name,
            s.shop_address,
            s.icon_id,
            s.longitude,
            s.dimensionality,
            s.profile_picture,
            s.brief_intro,
            t.*
        FROM
            ety_shop s,
            rel_user_shop us,
            ety_ticket t
        WHERE
            us.user_id = #{uid, jdbcType=BIGINT}
        AND s.id = us.shop_id
        AND t.shop_id = s.id
        <if test="createTime != null">
        AND t.create_time &gt; #{createTime,jdbcType=TIMESTAMP}
        </if>
        AND t.`status` = 1
        AND s.id
        GROUP BY
            s.id
        ORDER BY
            us.create_time DESC
        limit #{limit,jdbcType=INTEGER}, #{offset, jdbcType=INTEGER}
    </select>

    <select id="shopCount" parameterType="com.masou.coupon.data.filter.BaseFilter" resultType="java.lang.Integer">
        SELECT
        COUNT(id)
        FROM
        ety_shop
        WHERE
        1
        <if test="today != null">
            AND create_time &gt; #{today, jdbcType=TIMESTAMP} ;
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_shop
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_shop
        where phone = #{phone}

    </select>
    <select id="selectListByFilter" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_shop

        <where>

            <if test="verified !=null">
                and is_shop_verified = #{verified}
            </if>

        </where>

        order by create_time desc

        <if test="limit !=null">
            limit #{limit}
        </if>
        <if test="offset != null">
            offset #{offset}
        </if>

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from ety_shop
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.masou.coupon.data.models.Shop">
        insert into ety_shop (id,uid, shop_name, icon_id,
        industry_id, phone, is_phone_verified,
        telephone, telephone_ex, brief_intro,
        business_license_id, longitude, dimensionality,
        is_shop_verified, wechat_account, shop_address,
        rank, create_time, last_update_time,
        phone_verified_time,comment),profile_picture
        values (#{id,jdbcType=BIGINT},#{uid,jdbcType=BIGINT} #{shopName,jdbcType=VARCHAR}, #{iconId,jdbcType=VARCHAR},
        #{industryId,jdbcType=INTEGER}, #{phone,jdbcType=CHAR}, #{isPhoneVerified,jdbcType=TINYINT},
        #{telephone,jdbcType=CHAR}, #{telephoneEx,jdbcType=CHAR}, #{briefIntro,jdbcType=VARCHAR},
        #{businessLicenseId,jdbcType=VARCHAR}, #{longitude,jdbcType=DECIMAL}, #{dimensionality,jdbcType=DECIMAL},
        #{isShopVerified,jdbcType=TINYINT}, #{wechatAccount,jdbcType=VARCHAR}, #{shopAddress,jdbcType=VARCHAR},
        #{rank,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP},
        #{phoneVerifiedTime,jdbcType=TIMESTAMP},#{comment,jdbcType=VARCHAR},#{profilePicture, jdbcType=VARCHAR}
    </insert>
    <insert id="insertSelective" parameterType="com.masou.coupon.data.models.Shop">
        insert into ety_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="shopName != null">
                shop_name,
            </if>
            <if test="iconId != null">
                icon_id,
            </if>
            <if test="industryId != null">
                industry_id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="isPhoneVerified != null">
                is_phone_verified,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="telephoneEx != null">
                telephone_ex,
            </if>
            <if test="briefIntro != null">
                brief_intro,
            </if>
            <if test="businessLicenseId != null">
                business_license_id,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="dimensionality != null">
                dimensionality,
            </if>
            <if test="isShopVerified != null">
                is_shop_verified,
            </if>
            <if test="wechatAccount != null">
                wechat_account,
            </if>
            <if test="shopAddress != null">
                shop_address,
            </if>
            <if test="rank != null">
                rank,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="phoneVerifiedTime != null">
                phone_verified_time,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="profilePicture != null">
                profile_picture,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid, jdbcType=BIGINT},
            </if>
            <if test="shopName != null">
                #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="iconId != null">
                #{iconId,jdbcType=VARCHAR},
            </if>
            <if test="industryId != null">
                #{industryId,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=CHAR},
            </if>
            <if test="isPhoneVerified != null">
                #{isPhoneVerified,jdbcType=TINYINT},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=CHAR},
            </if>
            <if test="telephoneEx != null">
                #{telephoneEx,jdbcType=CHAR},
            </if>
            <if test="briefIntro != null">
                #{briefIntro,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseId != null">
                #{businessLicenseId,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="dimensionality != null">
                #{dimensionality,jdbcType=DECIMAL},
            </if>
            <if test="isShopVerified != null">
                #{isShopVerified,jdbcType=TINYINT},
            </if>
            <if test="wechatAccount != null">
                #{wechatAccount,jdbcType=VARCHAR},
            </if>
            <if test="shopAddress != null">
                #{shopAddress,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                #{rank,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="phoneVerifiedTime != null">
                #{phoneVerifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="profilePicture != null">
                #{profilePicture,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.masou.coupon.data.models.Shop">
        update ety_shop
        <set>
            <if test="shopName != null">
                shop_name = #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="iconId != null">
                icon_id = #{iconId,jdbcType=VARCHAR},
            </if>
            <if test="industryId != null">
                industry_id = #{industryId,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="isPhoneVerified != null">
                is_phone_verified = #{isPhoneVerified,jdbcType=TINYINT},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=CHAR},
            </if>
            <if test="telephoneEx != null">
                telephone_ex = #{telephoneEx,jdbcType=CHAR},
            </if>
            <if test="briefIntro != null">
                brief_intro = #{briefIntro,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseId != null">
                business_license_id = #{businessLicenseId,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="dimensionality != null">
                dimensionality = #{dimensionality,jdbcType=DECIMAL},
            </if>
            <if test="isShopVerified != null">
                is_shop_verified = #{isShopVerified,jdbcType=TINYINT},
            </if>
            <if test="wechatAccount != null">
                wechat_account = #{wechatAccount,jdbcType=VARCHAR},
            </if>
            <if test="shopAddress != null">
                shop_address = #{shopAddress,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                rank = #{rank,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="phoneVerifiedTime != null">
                phone_verified_time = #{phoneVerifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="profilePicture != null">
                profile_picture = #{profilePicture, jdbcType=VARCHAR}
            </if>

        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.masou.coupon.data.models.Shop">
    update ety_shop
    set shop_name = #{shopName,jdbcType=VARCHAR},
      icon_id = #{iconId,jdbcType=VARCHAR},
      industry_id = #{industryId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=CHAR},
      is_phone_verified = #{isPhoneVerified,jdbcType=TINYINT},
      telephone = #{telephone,jdbcType=CHAR},
      telephone_ex = #{telephoneEx,jdbcType=CHAR},
      brief_intro = #{briefIntro,jdbcType=VARCHAR},
      business_license_id = #{businessLicenseId,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      dimensionality = #{dimensionality,jdbcType=DECIMAL},
      is_shop_verified = #{isShopVerified,jdbcType=TINYINT},
      wechat_account = #{wechatAccount,jdbcType=VARCHAR},
      shop_address = #{shopAddress,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      phone_verified_time = #{phoneVerifiedTime,jdbcType=TIMESTAMP},
      comment = #{comment, jdbcType=VARCHAR},profile_picture=#{profilePicture, jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>