<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masou.coupon.data.mappers.ShopMapper">
    <resultMap id="BaseResultMap" type="com.masou.coupon.data.models.Shop">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uid" jdbcType="BIGINT" property="uid"></result>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="icon_id" jdbcType="VARCHAR" property="iconId" />
        <result column="industry_id" jdbcType="INTEGER" property="industryId" />
        <result column="phone" jdbcType="CHAR" property="phone" />
        <result column="is_phone_verified" jdbcType="TINYINT" property="isPhoneVerified" />
        <result column="telephone" jdbcType="CHAR" property="telephone" />
        <result column="telephone_ex" jdbcType="CHAR" property="telephoneEx" />
        <result column="brief_intro" jdbcType="VARCHAR" property="briefIntro" />
        <result column="business_license_id" jdbcType="VARCHAR" property="businessLicenseId" />
        <result column="longitude" jdbcType="DECIMAL" property="longitude" />
        <result column="dimensionality" jdbcType="DECIMAL" property="dimensionality" />
        <result column="is_shop_verified" jdbcType="TINYINT" property="isShopVerified" />
        <result column="wechat_account" jdbcType="VARCHAR" property="wechatAccount" />
        <result column="shop_address" jdbcType="VARCHAR" property="shopAddress" />
        <result column="rank" jdbcType="TINYINT" property="rank" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
        <result column="phone_verified_time" jdbcType="TIMESTAMP" property="phoneVerifiedTime" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="profile_picture" jdbcType="VARCHAR" property="profilePicture"/>
        <association property="ticket" javaType="com.masou.coupon.data.models.Ticket">
            <id column="id" jdbcType="BIGINT" property="id" />
            <result column="ticket_name" jdbcType="VARCHAR" property="ticketName" />
            <result column="shop_id" jdbcType="BIGINT" property="shopId" />
            <result column="ticket_id" jdbcType="CHAR" property="ticketId" />
            <result column="type_id" jdbcType="TINYINT" property="typeId" />
            <result column="status" jdbcType="TINYINT" property="status" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="status" jdbcType="TINYINT" property="status" />
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid, shop_name, icon_id, industry_id, phone, is_phone_verified, telephone, telephone_ex,
        brief_intro, business_license_id, longitude, dimensionality, is_shop_verified, wechat_account,
        shop_address, rank, create_time, last_update_time, phone_verified_time, `comment`,profile_picture
    </sql>
    <select id="selectByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from
        (SELECT s.shop_name,s.id,s.shop_address,s.icon_id,t.ticket_id,t.ticket_name,t.create_time
        from ety_shop s, ety_ticket t
        WHERE s.id=t.shop_id
        <if test="industry != null">
            and s.industry_id=#{industry, jdbcType=INTEGER}
        </if>
        <if test="type != null">
            AND t.type_id=#{type, jdbcType=INTEGER}
        </if>
          AND s.is_shop_verified=1 AND t.`status`=1 ORDER BY t.create_time DESC) tmp
        GROUP BY id ORDER BY create_time
        limit #{page, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER};
    </select>
    <select id="shopList" parameterType="com.masou.coupon.data.filter.BaseFilter" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_shop
        where uid=#{uid,jdbcType=BIGINT} ORDER  BY create_time DESC
        limit #{limit,jdbcType=INTEGER}, #{offset, jdbcType=INTEGER};
    </select>
    <!-- 通过MD5查询数据 -->
    <select id="shopMD5" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_shop
        where shophash=#{shophash,jdbcType=CHAR};
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ety_shop
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_shop
        where phone = #{phone}

    </select>
    <select id="selectListByFilter" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_shop

        <where>

            <if test="verified !=null">
                and is_shop_verified = #{verified}
            </if>

        </where>

        order by create_time desc

        <if test="limit !=null">
            limit #{limit}
        </if>
        <if test="offset != null">
            offset #{offset}
        </if>


    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from ety_shop
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.masou.coupon.data.models.Shop">
        insert into ety_shop (id,uid, shop_name, icon_id,
        industry_id, phone, is_phone_verified,
        telephone, telephone_ex, brief_intro,
        business_license_id, longitude, dimensionality,
        is_shop_verified, wechat_account, shop_address,
        rank, create_time, last_update_time,
        phone_verified_time,comment)
        values (#{id,jdbcType=BIGINT},#{uid,jdbcType=BIGINT} #{shopName,jdbcType=VARCHAR}, #{iconId,jdbcType=VARCHAR},
        #{industryId,jdbcType=INTEGER}, #{phone,jdbcType=CHAR}, #{isPhoneVerified,jdbcType=TINYINT},
        #{telephone,jdbcType=CHAR}, #{telephoneEx,jdbcType=CHAR}, #{briefIntro,jdbcType=VARCHAR},
        #{businessLicenseId,jdbcType=VARCHAR}, #{longitude,jdbcType=DECIMAL}, #{dimensionality,jdbcType=DECIMAL},
        #{isShopVerified,jdbcType=TINYINT}, #{wechatAccount,jdbcType=VARCHAR}, #{shopAddress,jdbcType=VARCHAR},
        #{rank,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP},
        #{phoneVerifiedTime,jdbcType=TIMESTAMP},#{comment,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.masou.coupon.data.models.Shop">
        insert into ety_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="shopName != null">
                shop_name,
            </if>
            <if test="iconId != null">
                icon_id,
            </if>
            <if test="industryId != null">
                industry_id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="isPhoneVerified != null">
                is_phone_verified,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="telephoneEx != null">
                telephone_ex,
            </if>
            <if test="briefIntro != null">
                brief_intro,
            </if>
            <if test="businessLicenseId != null">
                business_license_id,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="dimensionality != null">
                dimensionality,
            </if>
            <if test="isShopVerified != null">
                is_shop_verified,
            </if>
            <if test="wechatAccount != null">
                wechat_account,
            </if>
            <if test="shopAddress != null">
                shop_address,
            </if>
            <if test="rank != null">
                rank,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="phoneVerifiedTime != null">
                phone_verified_time,
            </if>
            <if test="comment != null">
                comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid, jdbcType=BIGINT},
            </if>
            <if test="shopName != null">
                #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="iconId != null">
                #{iconId,jdbcType=VARCHAR},
            </if>
            <if test="industryId != null">
                #{industryId,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=CHAR},
            </if>
            <if test="isPhoneVerified != null">
                #{isPhoneVerified,jdbcType=TINYINT},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=CHAR},
            </if>
            <if test="telephoneEx != null">
                #{telephoneEx,jdbcType=CHAR},
            </if>
            <if test="briefIntro != null">
                #{briefIntro,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseId != null">
                #{businessLicenseId,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="dimensionality != null">
                #{dimensionality,jdbcType=DECIMAL},
            </if>
            <if test="isShopVerified != null">
                #{isShopVerified,jdbcType=TINYINT},
            </if>
            <if test="wechatAccount != null">
                #{wechatAccount,jdbcType=VARCHAR},
            </if>
            <if test="shopAddress != null">
                #{shopAddress,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                #{rank,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="phoneVerifiedTime != null">
                #{phoneVerifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.masou.coupon.data.models.Shop">
        update ety_shop
        <set>
            <if test="shopName != null">
                shop_name = #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="iconId != null">
                icon_id = #{iconId,jdbcType=VARCHAR},
            </if>
            <if test="industryId != null">
                industry_id = #{industryId,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="isPhoneVerified != null">
                is_phone_verified = #{isPhoneVerified,jdbcType=TINYINT},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=CHAR},
            </if>
            <if test="telephoneEx != null">
                telephone_ex = #{telephoneEx,jdbcType=CHAR},
            </if>
            <if test="briefIntro != null">
                brief_intro = #{briefIntro,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseId != null">
                business_license_id = #{businessLicenseId,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="dimensionality != null">
                dimensionality = #{dimensionality,jdbcType=DECIMAL},
            </if>
            <if test="isShopVerified != null">
                is_shop_verified = #{isShopVerified,jdbcType=TINYINT},
            </if>
            <if test="wechatAccount != null">
                wechat_account = #{wechatAccount,jdbcType=VARCHAR},
            </if>
            <if test="shopAddress != null">
                shop_address = #{shopAddress,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                rank = #{rank,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="phoneVerifiedTime != null">
                phone_verified_time = #{phoneVerifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>

            <if test="profilePicture!=null">
                profile_picture=#{profilePicture},
            </if>

        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.masou.coupon.data.models.Shop">
    update ety_shop
    set shop_name = #{shopName,jdbcType=VARCHAR},
      icon_id = #{iconId,jdbcType=VARCHAR},
      industry_id = #{industryId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=CHAR},
      is_phone_verified = #{isPhoneVerified,jdbcType=TINYINT},
      telephone = #{telephone,jdbcType=CHAR},
      telephone_ex = #{telephoneEx,jdbcType=CHAR},
      brief_intro = #{briefIntro,jdbcType=VARCHAR},
      business_license_id = #{businessLicenseId,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      dimensionality = #{dimensionality,jdbcType=DECIMAL},
      is_shop_verified = #{isShopVerified,jdbcType=TINYINT},
      wechat_account = #{wechatAccount,jdbcType=VARCHAR},
      shop_address = #{shopAddress,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      phone_verified_time = #{phoneVerifiedTime,jdbcType=TIMESTAMP},
      comment = #{comment, jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>