<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masou.coupon.data.mappers.TicketMapper">
    <resultMap id="BaseResultMap" type="com.masou.coupon.data.models.Ticket">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="ticket_id" jdbcType="CHAR" property="ticketId" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="ticket_name" jdbcType="VARCHAR" property="ticketName" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="type_id" jdbcType="TINYINT" property="typeId" />
        <result column="period_of_validity_startTime" jdbcType="TIMESTAMP" property="periodOfValidityStarttime" />
        <result column="period_of_validity_endTime" jdbcType="TIMESTAMP" property="periodOfValidityEndtime" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="collecting_method" jdbcType="TINYINT" property="collectingMethod" />
        <result column="is_retaken" jdbcType="TINYINT" property="isRetaken" />
        <result column="is_re_use" jdbcType="TINYINT" property="isReUse" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="taken" jdbcType="INTEGER" property="taken"/>
        <association property="userTicket" javaType="com.masou.coupon.data.models.UserTicket">
            <result column="user_id" jdbcType="CHAR" property="userId" />
            <result column="ticket_id" jdbcType="CHAR" property="ticketId" />
            <result column="status" jdbcType="TINYINT" property="status" />
            <result column="ut_id" jdbcType="VARCHAR" property="utId" />
        </association>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.masou.coupon.data.models.TicketWithBLOBs">
        <result column="applicable_scope" jdbcType="LONGVARCHAR" property="applicableScope" />
        <result column="working_condition" jdbcType="LONGVARCHAR" property="workingCondition" />
        <result column="validity_comment" jdbcType="LONGVARCHAR" property="validityComment" />
    </resultMap>
    <sql id="Base_Column_List">
        id, ticket_id, shop_id, ticket_name, content, type_id, period_of_validity_startTime,
        period_of_validity_endTime, comment, status, collecting_method, is_retaken, is_re_use,
        create_time,amount
    </sql>
    <sql id="Blob_Column_List">
        applicable_scope, working_condition, validity_comment
    </sql>

    <sql id="Ticket_Type_list">
        id,ticket_id,shop_id,ticket_name,type_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from ety_ticket
        where ticket_id = #{ticketId,jdbcType=CHAR}
    </select>

    <select id="ticketCount"  parameterType="com.masou.coupon.data.filter.BaseFilter" resultType="java.lang.Integer">
        SELECT
            SUM(amount)
        FROM
            ety_ticket
        WHERE
            1
        <if test="today != null">
            AND create_time &gt; #{today, jdbcType=TIMESTAMP} ;
        </if>
    </select>

    <select id="findStatusByUid" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT
        t.`status`
        FROM
        `rel_user_ticket` ut,
        ety_ticket t
        WHERE
        ut.ut_id = #{tid, jdbcType=VARCHAR}
        AND ut.ticket_id = t.ticket_id
        AND t.`status` = 1 ;
    </select>

    <select id="selectByLimit" parameterType="com.masou.coupon.action.erpapi.vo.TicketPageParam" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from ety_ticket
        where shop_id = #{shop_id,jdbcType=BIGINT}
        <if test="status != null">
              AND status = #{status, jdbcType=TINYINT}
        </if>
        ORDER BY create_time DESC limit #{page, jdbcType=BIGINT},#{pageSize,jdbcType=BIGINT}
    </select>
    <select id="selectCount" parameterType="com.masou.coupon.action.erpapi.vo.TicketPageParam" resultType="java.lang.Integer">
        select
        COUNT(id)
        from ety_ticket
        where shop_id = #{shop_id,jdbcType=BIGINT}
        ORDER BY create_time DESC
        limit #{page, jdbcType=BIGINT},#{pageSize,jdbcType=BIGINT}
    </select>

    <select id="findBySid" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
	SELECT
        id,
        type_id,
        ticket_name
    FROM
        ety_ticket
    WHERE
        shop_id = #{sid,jdbcType=BIGINT}
    AND STATUS = 1
    GROUP BY
        type_id
    ORDER BY
        create_time DESC
    </select>


    <select id="selectByShopId" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from ety_ticket
        where shop_id = #{sid,jdbcType=BIGINT} ORDER BY create_time DESC;
    </select>

    <select id="selectByType" parameterType="com.masou.coupon.data.param.PageParam" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Ticket_Type_list"/>
        from (select * from ety_ticket ORDER BY create_time desc) tmp
        where `status`=1 and type_id={#type, jdbcType=BIGINT}
        ORDER BY create_time DESC limit #{page, jdbcType=BIGINT},#{pageSize,jdbcType=BIGINT}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from ety_ticket
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByPrimaryTid" parameterType="java.lang.String">
        delete from ety_ticket
        where ticket_id = #{id,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.masou.coupon.data.models.TicketWithBLOBs">
        insert into ety_ticket (id, ticket_id, shop_id,
        ticket_name, content, type_id,
        period_of_validity_startTime, period_of_validity_endTime,
        comment, status, collecting_method,
        is_retaken, is_re_use, create_time,
        applicable_scope, working_condition,
        validity_comment)
        values (#{id,jdbcType=BIGINT}, #{ticketId,jdbcType=CHAR}, #{shopId,jdbcType=BIGINT},
        #{ticketName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{typeId,jdbcType=TINYINT},
        #{periodOfValidityStarttime,jdbcType=TIMESTAMP}, #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
        #{comment,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{collectingMethod,jdbcType=TINYINT},
        #{isRetaken,jdbcType=TINYINT}, #{isReUse,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
        #{applicableScope,jdbcType=LONGVARCHAR}, #{workingCondition,jdbcType=LONGVARCHAR},
        #{validityComment,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.masou.coupon.data.models.TicketWithBLOBs">
        insert into ety_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ticketId != null">
                ticket_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="ticketName != null">
                ticket_name,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="periodOfValidityStarttime != null">
                period_of_validity_startTime,
            </if>
            <if test="periodOfValidityEndtime != null">
                period_of_validity_endTime,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="collectingMethod != null">
                collecting_method,
            </if>
            <if test="isRetaken != null">
                is_retaken,
            </if>
            <if test="isReUse != null">
                is_re_use,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="applicableScope != null">
                applicable_scope,
            </if>
            <if test="workingCondition != null">
                working_condition,
            </if>
            <if test="validityComment != null">
                validity_comment,
            </if>
            <if test="amount != null">
                amount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="ticketId != null">
                #{ticketId,jdbcType=CHAR},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=BIGINT},
            </if>
            <if test="ticketName != null">
                #{ticketName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=TINYINT},
            </if>
            <if test="periodOfValidityStarttime != null">
                #{periodOfValidityStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="periodOfValidityEndtime != null">
                #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="collectingMethod != null">
                #{collectingMethod,jdbcType=TINYINT},
            </if>
            <if test="isRetaken != null">
                #{isRetaken,jdbcType=TINYINT},
            </if>
            <if test="isReUse != null">
                #{isReUse,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applicableScope != null">
                #{applicableScope,jdbcType=LONGVARCHAR},
            </if>
            <if test="workingCondition != null">
                #{workingCondition,jdbcType=LONGVARCHAR},
            </if>
            <if test="validityComment != null">
                #{validityComment,jdbcType=LONGVARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.masou.coupon.data.models.TicketWithBLOBs">
        update ety_ticket
        <set>
            <if test="ticketId != null">
                ticket_id = #{ticketId,jdbcType=CHAR},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=BIGINT},
            </if>
            <if test="ticketName != null">
                ticket_name = #{ticketName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=TINYINT},
            </if>
            <if test="periodOfValidityStarttime != null">
                period_of_validity_startTime = #{periodOfValidityStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="periodOfValidityEndtime != null">
                period_of_validity_endTime = #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="collectingMethod != null">
                collecting_method = #{collectingMethod,jdbcType=TINYINT},
            </if>
            <if test="isRetaken != null">
                is_retaken = #{isRetaken,jdbcType=TINYINT},
            </if>
            <if test="isReUse != null">
                is_re_use = #{isReUse,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applicableScope != null">
                applicable_scope = #{applicableScope,jdbcType=LONGVARCHAR},
            </if>
            <if test="workingCondition != null">
                working_condition = #{workingCondition,jdbcType=LONGVARCHAR},
            </if>
            <if test="validityComment != null">
                validity_comment = #{validityComment,jdbcType=LONGVARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount, jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByTidSelective" parameterType="com.masou.coupon.data.models.TicketWithBLOBs">
        update ety_ticket
        <set>
            <if test="ticketName != null">
                ticket_name = #{ticketName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=TINYINT},
            </if>
            <if test="periodOfValidityStarttime != null">
                period_of_validity_startTime = #{periodOfValidityStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="periodOfValidityEndtime != null">
                period_of_validity_endTime = #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="collectingMethod != null">
                collecting_method = #{collectingMethod,jdbcType=TINYINT},
            </if>
            <if test="isRetaken != null">
                is_retaken = #{isRetaken,jdbcType=TINYINT},
            </if>
            <if test="isReUse != null">
                is_re_use = #{isReUse,jdbcType=TINYINT},
            </if>
            <if test="applicableScope != null">
                applicable_scope = #{applicableScope,jdbcType=LONGVARCHAR},
            </if>
            <if test="workingCondition != null">
                working_condition = #{workingCondition,jdbcType=LONGVARCHAR},
            </if>
            <if test="validityComment != null">
                validity_comment = #{validityComment,jdbcType=LONGVARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount, jdbcType=INTEGER},
            </if>
        </set>
        where ticket_id = #{ticketId,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.masou.coupon.data.models.TicketWithBLOBs">
        update ety_ticket
        set ticket_id = #{ticketId,jdbcType=CHAR},
        shop_id = #{shopId,jdbcType=BIGINT},
        ticket_name = #{ticketName,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        type_id = #{typeId,jdbcType=TINYINT},
        period_of_validity_startTime = #{periodOfValidityStarttime,jdbcType=TIMESTAMP},
        period_of_validity_endTime = #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
        comment = #{comment,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT},
        collecting_method = #{collectingMethod,jdbcType=TINYINT},
        is_retaken = #{isRetaken,jdbcType=TINYINT},
        is_re_use = #{isReUse,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        applicable_scope = #{applicableScope,jdbcType=LONGVARCHAR},
        working_condition = #{workingCondition,jdbcType=LONGVARCHAR},
        validity_comment = #{validityComment,jdbcType=LONGVARCHAR},amount = #{amount, jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.masou.coupon.data.models.Ticket">
    update ety_ticket
    set ticket_id = #{ticketId,jdbcType=CHAR},
      shop_id = #{shopId,jdbcType=BIGINT},
      ticket_name = #{ticketName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=TINYINT},
      period_of_validity_startTime = #{periodOfValidityStarttime,jdbcType=TIMESTAMP},
      period_of_validity_endTime = #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      collecting_method = #{collectingMethod,jdbcType=TINYINT},
      is_retaken = #{isRetaken,jdbcType=TINYINT},
      is_re_use = #{isReUse,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},amount = #{amount, jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>