<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masou.coupon.data.mappers.TicketMapper">
    <resultMap id="BaseResultMap" type="com.masou.coupon.data.models.Ticket">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="ticket_id" jdbcType="CHAR" property="ticketId" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="ticket_name" jdbcType="VARCHAR" property="ticketName" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="type_id" jdbcType="TINYINT" property="typeId" />
        <result column="period_of_validity_startTime" jdbcType="TIMESTAMP" property="periodOfValidityStarttime" />
        <result column="period_of_validity_endTime" jdbcType="TIMESTAMP" property="periodOfValidityEndtime" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="collecting_method" jdbcType="TINYINT" property="collectingMethod" />
        <result column="is_retaken" jdbcType="TINYINT" property="isRetaken" />
        <result column="is_re_use" jdbcType="TINYINT" property="isReUse" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="taken" jdbcType="INTEGER" property="taken"/>

        <association property="ticketType" javaType="com.masou.coupon.data.models.TicketType">
            <!--<id column="id" jdbcType="INTEGER" property="id" />-->
            <result column="ttcomment" jdbcType="VARCHAR" property="comment" />
            <result column="status" jdbcType="INTEGER" property="status" />
            <result column="icon" jdbcType="VARCHAR" property="icon" />
        </association>
        <collection property="userTicket" javaType="com.masou.coupon.data.models.UserTicket">
            <id column="id" jdbcType="BIGINT" property="id" />
            <result column="user_id" jdbcType="CHAR" property="userId" />
            <result column="ticket_id" jdbcType="CHAR" property="ticketId" />
            <result column="utStatus" jdbcType="TINYINT" property="status" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
            <result column="ut_id" jdbcType="VARCHAR" property="utId" />
        </collection>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.masou.coupon.data.models.TicketWithBLOBs">
        <result column="applicable_scope" jdbcType="LONGVARCHAR" property="applicableScope" />
        <result column="working_condition" jdbcType="LONGVARCHAR" property="workingCondition" />
        <result column="validity_comment" jdbcType="LONGVARCHAR" property="validityComment" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.ticket_id, t.shop_id, t.ticket_name, t.content, t.type_id, t.period_of_validity_startTime,
        t.period_of_validity_endTime, t.comment, t.status, t.collecting_method, t.is_retaken, t.is_re_use,
        t.create_time,t.amount
    </sql>

    <sql id="ticket_list">
        t.id as tid,
        t.ticket_id as tticket_id,
        t.shop_id as tshop_id,
        t.ticket_name as tticket_name,
        t.content as tcontent,
        t.type_id as ttype_id,
        t.period_of_validity_startTime as tperiod_of_validity_startTime,
        t.period_of_validity_endTime as tperiod_of_validity_endTime,
        t.comment as tcomment,
        t.status as tstatus,
        t.collecting_method as tcollecting_method,
        t.is_retaken as tis_retaken,
        t.is_re_use as tis_re_use,
        t.create_time as tcreate_time,
        t.amount as tamount,
        t.taken as ttaken
    </sql>

    <sql id="ticket_type_list">
        tt.id AS ttid,
        tt.comment AS ttcomment,
        tt.status AS ttstatus,
        tt.icon AS tticon
    </sql>

    <sql id="user_ticket_list">

        ut.id  AS  utid,
        ut.user_id  AS  utuser_id,
        ut.ticket_id  AS  utticket_id,
        ut.status  AS  utstatus,
        ut.create_time  AS  utcreate_time,
        ut.last_update_time  AS  utlast_update_time,
        ut.ut_id  AS  utut_id
    </sql>


    <sql id="Blob_Column_List">
        t.applicable_scope, t.working_condition, t.validity_comment
    </sql>

    <sql id="Ticket_Type_list">
         tt.comment as ttcomment,tt.icon
    </sql>
    <sql id="User_Ticket_list">
        ut.user_id, ut.ticket_id, ut.ut_id, ut.status as utStatus
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        ,
        <include refid="Ticket_Type_list" />
        from ety_ticket t,dic_ticket_type tt
        where t.ticket_id = #{ticketId,jdbcType=CHAR} AND  tt.id = t.type_id
    </select>


    <select id="myTicket" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="User_Ticket_list"/>,
        <include refid="Ticket_Type_list" />
        FROM
        ety_ticket t,
        rel_user_ticket ut,
        dic_ticket_type tt
        WHERE
        t.ticket_id = ut.ticket_id
        AND ut.user_id = #{uid, jdbcType=BIGINT}
        AND  tt.id = t.type_id
        AND t.period_of_validity_endTime &gt; NOW()
        AND t.`status`&lt;&gt; 3
        AND (
        ut.`status` = 2
        OR ut.`status` = 3
        )
        ORDER BY
        ut.create_time
        limit #{limit,jdbcType=INTEGER}, #{offset, jdbcType=INTEGER};
    </select>

    <select id="myTicketNoUse" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="User_Ticket_list"/>,
        <include refid="Ticket_Type_list" />
        FROM
        ety_ticket t,
        rel_user_ticket ut,
        dic_ticket_type tt
        WHERE
        t.ticket_id = ut.ticket_id
        AND ut.user_id = #{uid, jdbcType=BIGINT}
        AND  tt.id = t.type_id
        AND (t.period_of_validity_endTime &lt; NOW()
        OR t.`status` = 3 OR  t.`status` = -3)
        AND (
        ut.`status` = 2
        OR ut.`status` = 3
        )
        ORDER BY
        ut.create_time
        limit #{limit,jdbcType=INTEGER}, #{offset, jdbcType=INTEGER};
    </select>

    <select id="ticketCount" parameterType="com.masou.coupon.data.filter.StatisticFilter" resultType="java.lang.Integer">

        SELECT
          COUNT(*)
        FROM
            ety_shop s,
            ety_ticket t,
            rel_user_ticket ut
        WHERE
              s.id = t.shop_id
            AND t.ticket_id = ut.ticket_id
            AND s.uid = #{uid, jdbcType=BIGINT}
        <if test="today != null">
            AND ut.create_time &gt; #{today, jdbcType=TIMESTAMP}
        </if>
    </select>

    <select id="ticketCountByTake" parameterType="com.masou.coupon.data.filter.StatisticFilter" resultType="java.lang.Integer">

        SELECT
        COUNT(t.id)
        FROM
        ety_ticket t,
        rel_user_ticket ut
        WHERE
        t.ticket_id = ut.ticket_id
        <if test="tid != null">
            AND t.ticket_id = #{tid, jdbcType=CHAR}
        </if>
        <if test="today != null">
            AND t.create_time &gt; #{today, jdbcType=TIMESTAMP}
        </if>
        AND (
        ut.`status` = 2
        OR ut.`status` = 3
        )
    </select>


    <select id="selectCountByTid" parameterType="com.masou.coupon.data.filter.StatisticFilter" resultType="java.lang.Integer">
        SELECT
            amount
        FROM
            ety_ticket
        WHERE
            ticket_id = #{tid, jdbcType=CHAR};
    </select>

    <select id="selectShopTicketType" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
        SELECT
        tt.*, t.ticket_name
        FROM
        ety_ticket t,
        dic_ticket_type tt
        WHERE
        t.type_id = tt.id
        AND t.shop_id = #{sid, jdbcType=BIGINT}
        AND t.`status` = 1
        AND t.period_of_validity_endTime > NOW()
        GROUP BY
        t.type_id
        ORDER BY tt.id ASC
    </select>

    <select id="ticketCanRetaken" parameterType="com.masou.coupon.data.models.UserTicket" resultMap="ResultMapWithBLOBs">
        SELECT
            amount
        FROM
            ety_ticket
        WHERE
            ticket_id = #{tid, jdbcType=CHAR};
    </select>

    <select id="selectIdBySidUid" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
        SELECT
            t.ticket_id
        FROM
            ety_ticket t,
            rel_user_ticket ut
        WHERE
            t.ticket_id = ut.ticket_id
        AND t.collecting_method = 2
        AND t.shop_id = #{sid, jdbcType=BIGINT}
        AND ut.user_id = #{uid, jdbcType=BIGINT}
        AND t.period_of_validity_endTime &gt; NOW()
        ORDER BY
            ut.create_time DESC
        LIMIT 1;
    </select>

    <select id="ticketByFollow" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
        SELECT
            t.ticket_id
        FROM
            ety_ticket t
        WHERE
            t.shop_id = #{sid, jdbcType=BIGINT}
        AND t.collecting_method = 2
        AND t.period_of_validity_endTime &gt; NOW()
        ORDER BY
            t.create_time DESC
        LIMIT 1;
    </select>

    <select id="ticketByFollowShop" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
        SELECT
        t.ticket_id
        FROM
        ety_ticket t
        WHERE
        t.shop_id = #{sid, jdbcType=BIGINT}
        AND t.collecting_method = 3
        AND t.period_of_validity_endTime &gt; NOW()
        ORDER BY
        t.create_time DESC
        LIMIT 1;
    </select>

    <select id="selectFollowTicket" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
        SELECT
            t.ticket_id
        FROM
            ety_ticket t
        WHERE
            t.shop_id = #{sid,jdbcType=BIGINT}
        AND t.`status` = 3
        AND t.period_of_validity_endTime &gt; NOW()
        ORDER BY
            t.create_time DESC
        LIMIT 1;
    </select>

    <select id="findStatusByUid" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT
        t.`status`
        FROM
        `rel_user_ticket` ut,
        ety_ticket t
        WHERE
        ut.ut_id = #{tid, jdbcType=VARCHAR}
        AND ut.ticket_id = t.ticket_id
        AND t.`status` = 1 ;
    </select>

    <select id="selectByLimit" parameterType="com.masou.coupon.action.erpapi.vo.TicketPageParam" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List"/>
        ,
        <include refid="Ticket_Type_list" />
        ,
        <include refid="User_Ticket_list" />
        from dic_ticket_type tt, ety_ticket t
        LEFT JOIN rel_user_ticket ut ON ut.ticket_id = t.ticket_id
        where shop_id = #{shop_id,jdbcType=BIGINT}
        AND  tt.id = t.type_id
        AND t.period_of_validity_endTime &gt; NOW()
        <if test="status != null">
              AND t.status = #{status, jdbcType=TINYINT}
        </if>
        ORDER BY t.create_time DESC limit #{page, jdbcType=BIGINT},#{pageSize,jdbcType=BIGINT}
    </select>

    <select id="selectTicketWithoutUTID" parameterType="com.masou.coupon.action.erpapi.vo.TicketPageParam" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List"/>
        ,
        <include refid="Ticket_Type_list" />
        from dic_ticket_type tt, ety_ticket t
        where shop_id = #{shop_id,jdbcType=BIGINT}
        AND  tt.id = t.type_id
        AND t.period_of_validity_endTime &gt; NOW()
        <if test="status != null">
            AND t.status = #{status, jdbcType=TINYINT}
        </if>
        ORDER BY t.create_time DESC limit #{page, jdbcType=BIGINT},#{pageSize,jdbcType=BIGINT}
    </select>

    <select id="selectCount" parameterType="com.masou.coupon.action.erpapi.vo.TicketPageParam" resultType="java.lang.Integer">
        select
        COUNT(id)
        from ety_ticket
        where shop_id = #{shop_id,jdbcType=BIGINT}
        ORDER BY create_time DESC
        limit #{page, jdbcType=BIGINT},#{pageSize,jdbcType=BIGINT}
    </select>

    <select id="findBySid" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
	SELECT
        t.id,
        t.type_id,
        t.ticket_name,
        <include refid="Ticket_Type_list" />
    FROM
        ety_ticket t,dic_ticket_type tt
    WHERE
        t.shop_id = #{sid,jdbcType=BIGINT}
    AND t.STATUS = 1
    AND  tt.id = t.type_id
        AND t.period_of_validity_endTime &gt; NOW()
    GROUP BY
        t.type_id
    ORDER BY
        t.create_time DESC
    </select>

    <select id="selectByTid" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            ety_ticket t
        WHERE
            t.ticket_id = #{tid, jdbcType=CHAR}
    </select>


    <select id="selectByShopId" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        ,
        <include refid="Ticket_Type_list" />
        from ety_ticket t,dic_ticket_type tt
        where t.shop_id = #{sid,jdbcType=BIGINT}
        AND  tt.id = t.type_id
        AND t.period_of_validity_endTime &gt; NOW()
        ORDER BY t.create_time DESC;
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from ety_ticket
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByPrimaryTid" parameterType="java.lang.String">
        delete from ety_ticket
        where ticket_id = #{id,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.masou.coupon.data.models.TicketWithBLOBs">
        insert into ety_ticket (id, ticket_id, shop_id,
        ticket_name, content, type_id,
        period_of_validity_startTime, period_of_validity_endTime,
        comment, status, collecting_method,
        is_retaken, is_re_use, create_time,
        applicable_scope, working_condition,
        validity_comment)
        values (#{id,jdbcType=BIGINT}, #{ticketId,jdbcType=CHAR}, #{shopId,jdbcType=BIGINT},
        #{ticketName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{typeId,jdbcType=TINYINT},
        #{periodOfValidityStarttime,jdbcType=TIMESTAMP}, #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
        #{comment,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{collectingMethod,jdbcType=TINYINT},
        #{isRetaken,jdbcType=TINYINT}, #{isReUse,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
        #{applicableScope,jdbcType=LONGVARCHAR}, #{workingCondition,jdbcType=LONGVARCHAR},
        #{validityComment,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.masou.coupon.data.models.TicketWithBLOBs">
        insert into ety_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ticketId != null">
                ticket_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="ticketName != null">
                ticket_name,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="periodOfValidityStarttime != null">
                period_of_validity_startTime,
            </if>
            <if test="periodOfValidityEndtime != null">
                period_of_validity_endTime,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="collectingMethod != null">
                collecting_method,
            </if>
            <if test="isRetaken != null">
                is_retaken,
            </if>
            <if test="isReUse != null">
                is_re_use,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="applicableScope != null">
                applicable_scope,
            </if>
            <if test="workingCondition != null">
                working_condition,
            </if>
            <if test="validityComment != null">
                validity_comment,
            </if>
            <if test="amount != null">
                amount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="ticketId != null">
                #{ticketId,jdbcType=CHAR},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=BIGINT},
            </if>
            <if test="ticketName != null">
                #{ticketName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=TINYINT},
            </if>
            <if test="periodOfValidityStarttime != null">
                #{periodOfValidityStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="periodOfValidityEndtime != null">
                #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="collectingMethod != null">
                #{collectingMethod,jdbcType=TINYINT},
            </if>
            <if test="isRetaken != null">
                #{isRetaken,jdbcType=TINYINT},
            </if>
            <if test="isReUse != null">
                #{isReUse,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applicableScope != null">
                #{applicableScope,jdbcType=LONGVARCHAR},
            </if>
            <if test="workingCondition != null">
                #{workingCondition,jdbcType=LONGVARCHAR},
            </if>
            <if test="validityComment != null">
                #{validityComment,jdbcType=LONGVARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.masou.coupon.data.models.TicketWithBLOBs">
        update ety_ticket
        <set>
            <if test="ticketId != null">
                ticket_id = #{ticketId,jdbcType=CHAR},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=BIGINT},
            </if>
            <if test="ticketName != null">
                ticket_name = #{ticketName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=TINYINT},
            </if>
            <if test="periodOfValidityStarttime != null">
                period_of_validity_startTime = #{periodOfValidityStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="periodOfValidityEndtime != null">
                period_of_validity_endTime = #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="collectingMethod != null">
                collecting_method = #{collectingMethod,jdbcType=TINYINT},
            </if>
            <if test="isRetaken != null">
                is_retaken = #{isRetaken,jdbcType=TINYINT},
            </if>
            <if test="isReUse != null">
                is_re_use = #{isReUse,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applicableScope != null">
                applicable_scope = #{applicableScope,jdbcType=LONGVARCHAR},
            </if>
            <if test="workingCondition != null">
                working_condition = #{workingCondition,jdbcType=LONGVARCHAR},
            </if>
            <if test="validityComment != null">
                validity_comment = #{validityComment,jdbcType=LONGVARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount, jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByTidSelective" parameterType="com.masou.coupon.data.models.TicketWithBLOBs">
        update ety_ticket
        <set>
            <if test="ticketName != null">
                ticket_name = #{ticketName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=TINYINT},
            </if>
            <if test="periodOfValidityStarttime != null">
                period_of_validity_startTime = #{periodOfValidityStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="periodOfValidityEndtime != null">
                period_of_validity_endTime = #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="collectingMethod != null">
                collecting_method = #{collectingMethod,jdbcType=TINYINT},
            </if>
            <if test="isRetaken != null">
                is_retaken = #{isRetaken,jdbcType=TINYINT},
            </if>
            <if test="isReUse != null">
                is_re_use = #{isReUse,jdbcType=TINYINT},
            </if>
            <if test="applicableScope != null">
                applicable_scope = #{applicableScope,jdbcType=LONGVARCHAR},
            </if>
            <if test="workingCondition != null">
                working_condition = #{workingCondition,jdbcType=LONGVARCHAR},
            </if>
            <if test="validityComment != null">
                validity_comment = #{validityComment,jdbcType=LONGVARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount, jdbcType=INTEGER},
            </if>
        </set>
        where ticket_id = #{ticketId,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.masou.coupon.data.models.TicketWithBLOBs">
        update ety_ticket
        set ticket_id = #{ticketId,jdbcType=CHAR},
        shop_id = #{shopId,jdbcType=BIGINT},
        ticket_name = #{ticketName,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        type_id = #{typeId,jdbcType=TINYINT},
        period_of_validity_startTime = #{periodOfValidityStarttime,jdbcType=TIMESTAMP},
        period_of_validity_endTime = #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
        comment = #{comment,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT},
        collecting_method = #{collectingMethod,jdbcType=TINYINT},
        is_retaken = #{isRetaken,jdbcType=TINYINT},
        is_re_use = #{isReUse,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        applicable_scope = #{applicableScope,jdbcType=LONGVARCHAR},
        working_condition = #{workingCondition,jdbcType=LONGVARCHAR},
        validity_comment = #{validityComment,jdbcType=LONGVARCHAR},amount = #{amount, jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.masou.coupon.data.models.Ticket">
    update ety_ticket
    set ticket_id = #{ticketId,jdbcType=CHAR},
      shop_id = #{shopId,jdbcType=BIGINT},
      ticket_name = #{ticketName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=TINYINT},
      period_of_validity_startTime = #{periodOfValidityStarttime,jdbcType=TIMESTAMP},
      period_of_validity_endTime = #{periodOfValidityEndtime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      collecting_method = #{collectingMethod,jdbcType=TINYINT},
      is_retaken = #{isRetaken,jdbcType=TINYINT},
      is_re_use = #{isReUse,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},amount = #{amount, jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>