<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masou.coupon.data.mappers.UserProfileMapper">
    <resultMap id="BaseResultMap" type="com.masou.coupon.data.models.UserProfile">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="invite_code" jdbcType="VARCHAR" property="inviteCode"/>
        <result column="be_invite_code" jdbcType="VARCHAR" property="beInviteCode"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="from_key" jdbcType="VARCHAR" property="fromKey"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="channel_id" jdbcType="VARCHAR" property="channelId"/>
        <result column="avatar" property="avatar" />
    </resultMap>
    <sql id="Base_Column_List">
    id, nickname, phone, invite_code, be_invite_code, uid, gender, from_key, create_at, 
    update_at, channel_id,avatar
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_user_profile
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_user_profile
        where uid = #{uid}

    </select>

    <select id="selectByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_user_profile
        where phone = #{phone}

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ety_user_profile
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.masou.coupon.data.models.UserProfile">
    insert into ety_user_profile (id, nickname, phone, 
      invite_code, be_invite_code, uid, 
      gender, from_key, create_at, 
      update_at, channel_id)
    values (#{id,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{inviteCode,jdbcType=VARCHAR}, #{beInviteCode,jdbcType=VARCHAR}, #{uid,jdbcType=BIGINT}, 
      #{gender,jdbcType=VARCHAR}, #{fromKey,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{channelId,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.masou.coupon.data.models.UserProfile">
        insert into ety_user_profile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="inviteCode != null">
                invite_code,
            </if>
            <if test="beInviteCode != null">
                be_invite_code,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="fromKey != null">
                from_key,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="channelId != null">
                channel_id,
            </if>
            <if test="avatar!=null">
                avatar,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="inviteCode != null">
                #{inviteCode,jdbcType=VARCHAR},
            </if>
            <if test="beInviteCode != null">
                #{beInviteCode,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="fromKey != null">
                #{fromKey,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="channelId != null">
                #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="avatar!=null">
                #{avatar},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.masou.coupon.data.models.UserProfile">
        update ety_user_profile
        <set>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="inviteCode != null">
                invite_code = #{inviteCode,jdbcType=VARCHAR},
            </if>
            <if test="beInviteCode != null">
                be_invite_code = #{beInviteCode,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="fromKey != null">
                from_key = #{fromKey,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="channelId != null">
                channel_id = #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="avatar!=null">
                avatar = #{avatar},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.masou.coupon.data.models.UserProfile">
    update ety_user_profile
    set nickname = #{nickname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      be_invite_code = #{beInviteCode,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=BIGINT},
      gender = #{gender,jdbcType=VARCHAR},
      from_key = #{fromKey,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      channel_id = #{channelId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>