<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masou.coupon.data.mappers.UserTicketMapper">
  <resultMap id="BaseResultMap" type="com.masou.coupon.data.models.UserTicket">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="ticket_id" jdbcType="CHAR" property="ticketId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="ut_id" jdbcType="VARCHAR" property="utId" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, ticket_id,ut_id, status, create_time, last_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rel_user_ticket
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="ticketTaken" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT
        COUNT(id)
    FROM
        rel_user_ticket
    WHERE
        `status` = 2;
  </select>

  <select id="ticketUnRead" parameterType="com.masou.coupon.data.filter.BaseFilter" resultType="java.lang.Integer">
    SELECT
	  COUNT(id)
    FROM
        rel_user_ticket
    WHERE
        user_id = #{uid, jdbcType=BIGINT}
    AND create_time > #{today, jdbcType=TIMESTAMP}
    LIMIT 1;
  </select>

  <select id="ticketBeenTakenAndUsed" parameterType="com.masou.coupon.data.filter.ShopFilter" resultMap="BaseResultMap">
    SELECT
        id,COUNT(id) as num,`status`
    FROM
        rel_user_ticket
    WHERE
        ticket_id = #{tid, jdbcType=CHAR}
    AND (`status` = 2 OR `status` = 3)
    GROUP BY
        `status`;
  </select>

  <select id="findByUidTid" parameterType="com.masou.coupon.data.models.UserTicket" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
        rel_user_ticket
    WHERE
        user_id = #{userId, jdbcType=BIGINT}
    AND ticket_id = #{ticketId, jdbcType=VARCHAR};
  </select>

  <select id="findByUidTidNotUtid" parameterType="com.masou.coupon.data.models.UserTicket" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    rel_user_ticket
    WHERE
    user_id = #{userId, jdbcType=BIGINT}
    AND ticket_id = #{ticketId, jdbcType=VARCHAR};
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from rel_user_ticket
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.masou.coupon.data.models.UserTicket">
    insert into rel_user_ticket (id, user_id, ticket_id, ut_id,
      status, create_time, last_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=CHAR}, #{ticketId,jdbcType=CHAR}, #{utId, jdbcType=VARCHAR},
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.masou.coupon.data.models.UserTicket">
    insert into rel_user_ticket
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="ticketId != null">
        ticket_id,
      </if>
      <if test="utId != null">
        ut_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="ticketId != null">
        #{ticketId,jdbcType=CHAR},
      </if>
      <if test="utId != null">
        #{utId, jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.masou.coupon.data.models.UserTicket">
    update rel_user_ticket
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="ticketId != null">
        ticket_id = #{ticketId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.masou.coupon.data.models.UserTicket">
    update rel_user_ticket
    set user_id = #{userId,jdbcType=CHAR},
      ticket_id = #{ticketId,jdbcType=CHAR},
      user_id = #{userId,jdbcType=CHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByUtId" parameterType="com.masou.coupon.data.models.UserTicket">
    UPDATE rel_user_ticket
    SET STATUS = #{status,jdbcType=TINYINT},
    WHERE
        ut_id = #{utId,jdbcType=VARCHAR}
  </update>
</mapper>