<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masou.coupon.data.mappers.UserManagerMapper">
    <resultMap id="BaseResultMap" type="com.masou.coupon.data.models.UserManager">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="enable" jdbcType="INTEGER" property="enable"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, uid, phone, real_name, enable, create_at
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_user_manager
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_user_manager
        where uid = #{uid}
    </select>

    <select id="memberList" parameterType="com.masou.coupon.data.filter.BaseFilter" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            ety_user_manager
        WHERE
            `enable` = 1
        limit #{limit,jdbcType=INTEGER}, #{offset, jdbcType=INTEGER}
    </select>

    <select id="selectByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_user_manager
        where phone = #{phone}
    </select>
    <select id="selectAllList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ety_user_manager
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ety_user_manager
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.masou.coupon.data.models.UserManager">
    insert into ety_user_manager (id, uid, phone,
      real_name, enable, create_at
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.masou.coupon.data.models.UserManager">
        insert into ety_user_manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="enable != null">
                enable,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=INTEGER},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.masou.coupon.data.models.UserManager">
        update ety_user_manager
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=INTEGER},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.masou.coupon.data.models.UserManager">
    update ety_user_manager
    set uid = #{uid,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>